/* Google Fonts Link */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url(//fonts.googleapis.com/css?family=Nunito);

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: "Nunito", sans-serif;
  
}

nav {
  padding-top: 30px;
  background: #763618;
  height: 160px;
  width: 100%;
  
}

.logo img {
  width: 152px;
  height: 72px;
  margin-left: 50px;
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 20px;
}

.contact-button {
  background-color: transparent;
  color: white;
  font-size: 18px;
  padding: 12px 24px;
  width: 197px;
  height: 51px;
  border: 1px solid #FFFFFF;
  border-radius: 20px;
  cursor: pointer;
  box-shadow: 3px 3px 3px 0px #FFFFFF;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.contact-button:hover {
  background-color: rgb(224, 209, 209);
  color: #a34e26;
  box-shadow: 3px 3px 6px 0px rgba(0, 0, 0, 0.3);
}

nav ul li a {
  color: white;
  font-size: 20px;
  padding: 7px 13px;
  border-radius: 3px;
}

nav ul li a:hover {
  background: #763618;
  transition: .5s;
}

.checkbtn {
  font-size: 22px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media screen and (max-width: 985px) {
  .checkbtn {
    display: block;
  }

  label.logo {
    font-size: 22px;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #763618;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }
  
  a.active {
    background: none;
    color: #763618;
  }

  #check:checked~ul {
    left: 0;
  }
}

.hero-section {
  background-color: #763618;
  background-image: url('Images/Group1561529654.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  height: 100vh;
  width: 100%;
  color: #ffe0ce;
}

.hero-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  max-width: 700px;
  text-align: left;
  padding-left: 75px;
  padding-bottom: 50px;
}

.hero-header h1 {
  font-family: 'Nunito', sans-serif;
  font-weight: 600;
  font-size: 55px;
  line-height: 60px;
  color: #ffe0ce;
  margin-bottom: 10px;
}

.hero-header h1 br {
  line-height: 1.5;
}

.hero-text p {
  font-family: Arial, sans-serif;
  font-size: 20px;
  line-height: 30px;
  color: #ffe0ce;
  margin-bottom: 10px;
  max-width: 550px;
}

.hero-button {
  background-color: white;
  color: #a34e26;
  padding: 15px 30px;
  font-size: 18px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 0.3s ease, color 0.3s ease;
}

.hero-button:hover {
  background-color: rgb(228, 216, 216);
}

@media(max-width: 680px) {
    .hero-text{
        padding-left: 25px;
    }
    .hero-header h1{
        font-size: 40px;
    }
    .hero-text p{
        font-size: 17px;
    }
}
@media (max-width:480px) {
    .hero-section{
        height: 70vh;
    }
    .hero-text p{
        font-size: 15px;
        padding-left: 10px;
        padding-right: 10px;
    }
}

.courses {
    padding: 80px 70px;
    width: 100%;
    background-color: #f9f1e7;
}

.courses h2 {
    color: #2d3a4b;
    font-size: 40px;
    margin-bottom: 30px;
    text-align: left;
}

.course-cards {
    display: flex;
    justify-content: flex-start;
    gap: 25px;
    flex-wrap: wrap;
    scroll-behavior: smooth;
}

.card {
    background-color: #FFE0CE;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(248, 243, 243, 0.1);
    width: calc(33.3333% - 20px); /* Ensure 3 cards per row */
    margin-bottom: 20px;
    text-align: center;
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}


.card img {
    width: 100%;
    height: auto;
    display: block;
}

.card-content {
    padding: 20px;
}

.card-content h3 {
    font-size: 22px;
    margin: 15px 0;
    color: #7B3A18;
}

.book-button {
    background-color: #944110;
    color: #ffffff;
    font-size: 18px;
    padding: 12px 24px;
    width: 197px;
    height: 51px;
    border: 1px solid #7B3A18;
    border-radius: 30px;
    cursor: pointer;
    box-shadow: 3px 5px 0px 0px #823F1D9C;
    transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
}

.book-button:hover {
    background-color: rgb(255, 254, 254);
    color: #a34e26;
    box-shadow: 3px 5px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width:768px) {
    .course-cards{
        flex-direction: column;   
    }
    .card{
        width:100%;
    
    }
}
@media (max-width:480px){
    .course-cards{
        flex-direction: column;
    }
    .courses h2{
        font-size: 30px;
    }
}

.instructor-container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.meet {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh;
    text-align: center;
}

.meet img {
    width: 50px;
    height: auto;
    margin-left: 10px;
}

h2 {
    font-size: 44px;
    font-family: 'Nunito', sans-serif;
    font-weight: 600;
    padding-top: 20px;
}

.video-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 10px 0;
}

iframe {
    width: 100%;
    max-width: 1200px;
    height: 600px;
}

.content {
    text-align: center;
    margin-top: 400px;
}

.content h1 {
    font-size: 100px;
    color: rgb(178, 134, 11);
    font-weight: 600;
    transition: 0.5s;
}

.content h1:hover {
    -webkit-text-stroke: 2px #fff;
    color: transparent;
}

.info-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 20px;
}

.links {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
}

.links p {
    margin-top: 7px;
    color: #28679a;
    font-size: 20px;
    font-weight: 500;
}

.links a {
    display: inline-block;
}

.links img {
    width: 50px;
    height: auto;
}

a {
    text-decoration: none;
}

@media (max-width:480px) {
    video{
        height: 250px;
    }
    .meet h2{
        font-size: 30px;
    }
    .meet img{
        width: 40px;
    }
    .links img {
        width: 30px;
    }
    .links p {
        font-size: 15px;
        font-weight: 500;
    }
}

@media (max-width:768px) {
    .video{
        height: 250px;
    }
}
.contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
    background-color: #f4f2f0;
}

.contact-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1100px;
}

.left-content {
    flex: 1;
    text-align: justify;
}

h1 {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    font-family: 'Nunito', sans-serif;
}

p {
    margin-bottom: 2rem;
    font-size: larger;
    font-family: 'Nunito', sans-serif;
}

.contact-btn span {
    margin-left: 0.5rem;
}

@media (max-width:1140px) {
    .left-content{
        padding-left: 50px;
    }
    .right-content{
        padding-right: 20px;
    }
}
@media (max-width:970px) {
    .contact-container{
        flex-direction: column;
        text-align: center;
    }
    .left-content,.right-content{
        width: 100%;
    }
    .left-content,.right-content{
        text-align: center;
    }
}

@media (max-width:480px) {
    .left-content h1{
        text-align:center;
        font-size: 33px;
        padding-right: 10px;
    }
    .right-content p{
        font-size: 15px;
        padding-left: 45px;
    }
    .contact-btn span {
        margin-left: 1.0rem;
    }
}

footer {
    font-family: 'Nunito', sans-serif;
    background-color: #8b4a2d;
    background-image: url("Images/Group\ 15615296548.png");
    background-size: cover;
    background-position: center;
    color: white;
    padding: 50px;
    position: relative;
    height: auto;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-left,
.footer-info,
.footer-right {
    flex: 1;
    margin-right: 20px;
}

.footer-logo img {
    width: 180px;
    height: auto;
}

.footer-links {
    margin-top: 105px;
    font-size: 20px;
    text-align: left;
    scroll-behavior: smooth;
}

.footer-links a {
    margin-right: 20px;
    text-decoration: none;
    color: #FFE0CE;
    font-size: 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-right p {
    margin: 0;
    font-size: 15px;
    margin-top: 20px;
    color: #FFE0CE;
}

@media (min-width:430px) and (max-width:480px) {
    .footer-links{
        flex-direction: column;
        margin-top: 40px;
    }
    .footer-links a{
        font-size: 18px;
    }
    .footer-right{
        margin-top: 5px;
        float: left;
    }
    .footer-right p{
        font-size: 12px;
    }
    .footer-logo img{
        width: 140px;
    }
    .footer-image img{
        width: 140px;
    }
}
